<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

<head>
    <meta charset='utf-8'>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=0.8, maximum-scale=1.2">
    <meta name="description" content="{{ site.description }}">
    <title>{{ page.title | default: site.title }}</title>
    <link href="{{ '/favicon.ico' | relative_url }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% for tag in page.tags %}
    <meta name="keywords" content="{{ tag }}">
    {% endfor %}
    {% if page.excerpt %}
    {% if page.lang == 'it' %}
    <meta name="description" content="{{ page.excerpt_it | default: page.excerpt_en | default: page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
    {% else %}
    <meta name="description" content="{{ page.excerpt_en | default: page.excerpt_it | default: page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
    {% endif %}
    {% endif %}
</head>

<body>
    <top>
        {% if page.lang == 'it' %}
            <a class="small" href="{{ '/it/' | relative_url }}">Home</a>
        {% else %}
            <a class="small" href="{{ '/' | relative_url }}">Home</a>
        {% endif %}
    </top>
    <main>
        <h1>{{ page.title }}</h1>
        <span class="small">{{ page.date | date: "%d %B %Y" }}</span>
        {% if page.tags %}
        <span class="small"><strong>Tags</strong>: {{ page.tags | join: ", " }}</span>
        {% endif %}
        {{ content }}
    </main>
    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} Luca Crema</p>

        {% if page.lang == 'it' %}
        <p class="small">
            Ispirato al sito di <a href="https://www.danielfischer.com/">Daniel Fischer</a> e <a
                href="https://motherfuckingwebsite.com/">Motherfucking website</a>
        </p>
        {% else %}
        <p class="small">
            Inspired by <a href="https://www.danielfischer.com/">Daniel Fischer</a> and <a
                href="https://motherfuckingwebsite.com/">Motherfucking website</a>
        </p>
        {% endif %}
    </footer>
</body>
</html>
